
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet"/>
</head>
<body>
    <div class="container" style="width:500px;">
        <h1 class="text-center mt-5">RFC</h1>
        <p class="text-center">Generar tu Registro Federal De Contribuyentes Solo necesitaremos:</p>
        <ol>
            <li>Nombre Completo en mayusculas sin acentos ni dieresis</li>
            <li>Fecha de nacimiento</li>
        </ol>
        <p class="text-center mb-3">Vamos a generar tu rfc</p>
        <div class="position-relative">
            <a href="/Main/irAgregar" class="btn btn-primary position-absolute top-50 start-50">Iniciar</a>
        </div>

        
            <a href="/Main/IrTodosRFC" class="btn btn-primary position-absolute top-50 start-50">Base de datos</a>
        

       

    </div>
</body>
</html>
